
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Nueva donacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form autocomplete="off" novalidate [formGroup]="donacion" (ngSubmit)="continuar()">
    <ion-list>

      <ion-item>
        <ion-label floating>Titulo</ion-label>
        <ion-input type="text" formControlName="titulo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descripcion</ion-label>
        <ion-input type="rext" formControlName="descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select  formControlName="estado">
          <ion-option value="nuevo">Nuevo</ion-option>
          <ion-option value="usado">Usado</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf = "images">
        <ion-row>
          <ion-col col-4 *ngFor = 'let img of images'>
              <img [src]="img" imageViewer>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <button ion-button block (click)="presentActionSheet()">Agrega imagenes</button>
      </ion-item>
    </ion-list>

    <div padding>
      <button ion-button block type="submit" [disabled]="!donacion.valid">Continuar</button>
    </div>
  </form>

  <div class="file-input-wrapper">
        <button  ion-button round full>Seleccionar Archivo</button>
        <input type="file" name="file"   (change) ="onChange($event)" />
    </div>

  <div padding>
    <button ion-button (click) = "upload()"> subir</button>
  </div>
  <div class="padding">
    <h1>{{error}}</h1>
  </div>
</ion-content>
