<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoBlanco"  style="background-image: url(assets/img/degblanco.png); ">
  <ion-card *ngIf="donacionBienes"> 
    <ion-item>
      <h2>Donacion requerida</h2>
      <p>Fecha de creación: {{donacionBienes?.fecha | date}}</p>
    </ion-item>
    <ion-item>
      <h1>{{donacionBienes?.titulo}}</h1>
    </ion-item>
    <div *ngIf="donacionBienes.urlImagenes">
      <ion-row>
        <ion-col col-4 *ngFor = 'let img of donacionBienes.urlImagenes'>
          <img [src]="img" imageViewer>
        </ion-col>
      </ion-row>
    </div>
    <ion-card-content>
      <p>{{donacionBienes.descripcion}}</p>
    </ion-card-content>
    <ion-item>
      <ion-row>
        <ion-col col-4>
          <ion-badge>{{donacionBienes.categoriaNombre}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge>{{donacionBienes.subCategoriaNombre}}</ion-badge>
        </ion-col>
        <ion-col col-4>
          <ion-badge>{{donacionBienes.estado}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <h2>Contacto</h2>
    </ion-item>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/defaultProfileMale.jpg">
      </ion-avatar>
      <h2>{{contacto?.nombreBeneficiario}}</h2>
    </ion-item>
    <ion-item>
      <p>{{contacto?.mensaje}}</p>
    </ion-item>
    <ion-item>
      <button ion-button full >Donar</button>
    </ion-item>
  </ion-card> 
</ion-content>
