<ion-header>
  
</ion-header>

<ion-content padding class = "fondoBlanco" style="background-image: url(assets/img/degblanco.png); ">
  <ion-card>  
  <!--<ion-card >class = "cardPrincipal"-->
   
    <img src="assets/img/azul1.png"/>
    <div class="card-title">¿Qué eres?</div>
    <div class="card-content">
      <ion-grid>
        <ion-row>
          <ion-col col-6 >
            <ion-card (click)="irDonar()" class="cardSecundaria">
              <img src="assets/img/azul3.png" />
              <div class="card-subtitle">Donador</div>
            </ion-card>
          </ion-col> 
          <ion-col col-6 >
            <ion-card (click)="irBeneficio()" class="cardSecundaria">
              <img src="assets/img/azul3.png" />
              <div class="card-subtitle">Beneficiario</div>
            </ion-card>
          </ion-col> 
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
  <br/>
  <br/>

  <button ion-button color="dark" full round icon-left (click)="irLogin()" *ngIf="!autenticado">
    <ion-icon name='log-in' is-active="false"></ion-icon>
    Ingreso
  </button>

  <button ion-button color="dark" full round icon-left (click)="logout()" *ngIf="autenticado">
    <ion-icon name='log-in' is-active="false"></ion-icon>
   Logout
  </button>
</ion-content>
